@import url(global/global.css);

html {
  background: var(--color15);
}
body {
  height: 0;
}

main {
  width: 1420px;
  margin: 0px auto;
  color: var(--color7);
}
header {
  border-bottom: 1px solid var(--color5);
}

.secao1 {
  margin: 50px 0px;
  padding: 10px;
  background: var(--color14);
  border-radius: 5px;
  box-shadow: 2px 2px 0px var(--color5);
}

.secao1 h2 {
  text-align: center;
  margin: 7px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.secao1 img {
  width: 1420px;
  height: 500px;
  border-radius: 5px;
}

/* SEÇÃO 2  */
.secao2 {
  margin: 50px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color14);
  border-radius: 5px;
  box-shadow: 2px 2px 0px var(--color5);
}

.texto {
  padding: 40px;
}

.texto h3 {
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.texto p {
  font-size: 1.4rem;
  line-height: 30px;
  text-align: justify;
}

.secao2 img {
  width: 50%;
  object-fit: cover;
  border-radius: 0px 5px 5px 0px;
}

.secao3 {
  margin: 50px 0px;
  background: var(--color14);
  border-radius: 5px;
  font-size: 1.4rem;
  line-height: 30px;
  text-align: justify;
  box-shadow: 2px 2px 0px var(--color5);
}

.secao3 img {
  min-width: 1200px;
  height: 350px;
  display: flex;
  margin: 16px auto;
  border-radius: 5px;
}

.secao3 p {
  padding: 40px;
}

/* SEÇÃO 4 */


@media screen and (max-width: 1430px) {
  main {
    width: 900px;
  }

  .secao2 {
    align-items: end;
  }

  .secao2 img {
    min-height: 450px;
  }

  .secao3 img {
    min-width: auto;
    margin: 30px auto;
  }
}

@media screen and (max-width: 910px) {
  main {
    width: 90%;
    padding: 10px;
  }

  .secao1,
  .secao2,
  .secao3 {
    box-shadow: 0px 2px 4px var(--color5);
  }

  .secao1 img {
    height: 150px;
  }

  .secao2 {
    flex-wrap: wrap;
    align-items: center;
  }

  .secao2 img {
    min-height: 450px;
    width: 100%;
    border-radius: 5px;
  }

  @media screen and (max-width: 590px) {
    header {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      height: auto;
      padding: 20px;
    }

    .secao1,
    .secao2,
    .secao3,
    .secao3 img {
      margin: 10px 0px;
    }

    .texto,
    .secao3 p {
      padding: 10px 20px;
    }
  }
}